{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h1 class="my-5">Изменение пароля</h1>
    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endwith %}
    <form method="post" action="{{ url_for('change_password') }}">
      <div class="mb-3">
        <label for="old_password" class="form-label">Старый пароль</label>
        <input
          type="password"
          name="old_password"
          id="old_password"
          class="form-control{% if errors.old_password %} is-invalid{% endif %}"
        />
        {% if errors.old_password %}
        <div class="invalid-feedback">{{ errors.old_password }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="new_password" class="form-label">Новый пароль</label>
        <input
          type="password"
          name="new_password"
          id="new_password"
          class="form-control{% if errors.new_password %} is-invalid{% endif %}"
        />
        {% if errors.new_password %}
        <div class="invalid-feedback">{{ errors.new_password }}</div>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label"
          >Повторите новый пароль</label
        >
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          class="form-control{% if errors.confirm_password %} is-invalid{% endif %}"
        />
        {% if errors.confirm_password %}
        <div class="invalid-feedback">{{ errors.confirm_password }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Сменить пароль</button>
      <a href="{{ url_for('index') }}" class="btn btn-secondary">Отмена</a>
    </form>
  </div>
</div>
{% endblock %}
