{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="my-5">Проверка номера телефона</h1>

    <form method="POST" novalidate>
      <div class="mb-3">
        <label for="phone" class="form-label">Введите номер телефона</label>
        <input
          type="text"
          class="form-control {% if error %}is-invalid{% endif %}"
          id="phone"
          name="phone"
          value="{{ request.form.phone }}"
        />
        {% if error %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Проверить</button>
    </form>

    {% if formatted_phone %}
    <div class="alert alert-success mt-4">
      Отформатированный номер: <strong>{{ formatted_phone }}</strong>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
